body {
    background-image: url("./images/greystripe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.spacer {
    position: relative;;
    top: -325px;
    height: 200px;
    width: 100%;

}
.card {
    border:1px solid cyan;
}

.jumbotron {
    height:120px;
}
.card-header {
    background-image:url("./images/greystripe.jpg");

    color: snow;
    font-size:25px;
    font-family: 'Titillium Web', sans-serif;
}
.form-control {
    border-radius: 5px;
    border: 2px solid rgb(68, 87, 30);

}
.add-train-button {
    background-color: rgb(68, 87, 30);

}
.grey-background {
    background-color: lightgrey;
    border: 2px solid rgb(68, 87, 30);
}

.card-body {
    background-color: lightgray;
    border: 2px solid rgb(68, 87, 30);
    box-shadow: 5px 5px grey;
}
.trains-table {
            display: inline-block;
            width: 100%;
            margin:auto;
            text-align: center; 

        }

        
        .trains-table h1,td {
            font-weight: bold;
            width: 16%;
            background-color: white;
            border-top: 1px dotted rgb(68, 87, 30);
            border-bottom:1px dotted rgb(68, 87, 30);
        }
        
        .trains-table th {
            font-size:20px;
            font-weight:bold;
            text-decoration: underline;
        }
        
        .train-row tr:nth-child(odd) {
            border:1px dotted black;
            background-color: lightgray;
                            }